# 1.1.1

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import io

In [2]:
data= '''sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25 '''
data

'sleep totwrk age male hrwage\n3113   3438  32   1    7.07 \n2920   5020  31   1    1.43 \n2670   2815  44   1   20.53 \n3083   3786  30   0    9.62 \n3448   2580  64   1    2.75 \n4063   1205  41   1   19.25 '

In [3]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [4]:
df['pred']=3525.14+(-0.16)*df['totwrk']+1.62*df['age']+51.84*df['male']+(-9.88)*np.log(df['hrwage'])
df

   sleep  totwrk  age  male  hrwage         pred
0   3113    3438   32     1    7.07  3059.416098
1   2920    5020   31     1    1.43  2820.466176
2   2670    2815   44     1   20.53  3168.003754
3   3083    3786   30     0    9.62  2945.613219
4   3448    2580   64     1    2.75  3257.865383
5   4063    1205   41     1   19.25  3421.379791

In [5]:
df['residual']=df['sleep']-df['pred']
df

   sleep  totwrk  age  male  hrwage         pred    residual
0   3113    3438   32     1    7.07  3059.416098   53.583902
1   2920    5020   31     1    1.43  2820.466176   99.533824
2   2670    2815   44     1   20.53  3168.003754 -498.003754
3   3083    3786   30     0    9.62  2945.613219  137.386781
4   3448    2580   64     1    2.75  3257.865383  190.134617
5   4063    1205   41     1   19.25  3421.379791  641.620209

# 1.1.2

In [6]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import io

In [7]:
data= '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46 '''
data

'output capital labour\n9.25    2.61    184  \n3.66    1.32     91  \n28.78   22.09   426  \n4.12    10.74    72  \n2.89    1.16     46 '

In [8]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [9]:
df['pred']=(-1.71)+0.21*np.log(df['capital'])+0.71*np.log(df['labour'])
df

   output  capital  labour      pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [10]:
df['residual']=np.log(df['output'])-df['pred']
df

   output  capital  labour      pred  residual
0    9.25     2.61     184  2.194068  0.030556
1    3.66     1.32      91  1.551013 -0.253550
2   28.78    22.09     426  3.238628  0.121053
3    4.12    10.74      72  1.824968 -0.409115
4    2.89     1.16      46  1.039504  0.021753

# 1.2.4

In [11]:
ren=np.array((-0.24,0.41,1.22,-0.93,-0.37, -1.33, 0.16,-0.27,0.06,1.29))

In [12]:
RSS=np.square(ren).sum().round(2)
print('RSS=', RSS)

RSS= 6.25

In [13]:
n=len(ren)
k=2
s=np.sqrt(RSS/(n-k-1)).round(2)
print('s=',s)

s= 0.94

# 1.2.7

In [14]:
s=0.378
n=935
k=5
RSS=round(((s**2)*(n-k-1)),3)
RSS

132.739

# 1.2.8

In [15]:
s=0.383
n=935
k=4
RSS=round(((s**2)*(n-k-1)),3)
R2=0.178
TSS= round(RSS/ (1-R2),3)
TSS

165.962

# 1.2.9

In [16]:
s=0.389
n=935
k=3
RSS=round(((s**2)*(n-k-1)))
R2=0.149
ESS=round((RSS*R2)/(1-R2),3)
ESS

24.687

# 3.1

In [17]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import io

In [22]:
data='''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''
data

'i   Факт  Fitted  Остаток \n1   3113 3094.454  18.546 \n4   3083 2943.580 139.420 \n6   4063 3494.143 568.857 \n10  3018 3111.983 -93.983 \n508 3630 3476.914 153.086 \n700 2993 3295.398 -302.398'

In [23]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [24]:
df['Факт']

0    3113
1    3083
2    4063
3    3018
4    3630
5    2993
Name: Факт, dtype: int64

In [25]:
df['Факт'].mean()

3316.6666666666665

In [26]:
tss_=(df['Факт']-df['Факт'].mean(0))**2
tss_

0     41480.111111
1     54600.111111
2    557013.444444
3     89201.777778
4     98177.777778
5    104760.111111
Name: Факт, dtype: float64

In [27]:
TSS=np.sum((df['Факт']-df['Факт'].mean())**2)
TSS

945233.3333333334

In [28]:
df['Fitted']

0    3094.454
1    2943.580
2    3494.143
3    3111.983
4    3476.914
5    3295.398
Name: Fitted, dtype: float64

In [29]:
df['Fitted'].mean(0)

3236.078666666667

In [30]:
ESS=np.sum((df['Fitted']-df['Факт'].mean())**2)
ESS

288096.9463873332

In [31]:
RSS=TSS-ESS
RSS

657136.3869460002

In [32]:
R2=ESS/TSS
R2

0.30478923692985843

In [33]:
R2_adj=1-(1-R2)*(700-1)/(700-4)
R2_adj

0.30179263881317675

In [34]:
SER=np.sqrt(RSS)
SER

810.6394925896469

# 3.2

In [35]:
data='''i   Факт  Fitted  Остаток 
1   2670 3132.491 -462.491
9   3090 3370.083 -280.083
56  2985 2835.360 149.640 
76  3660 3248.540 411.460 
100 2618 2863.070 -245.070'''
data

'i   Факт  Fitted  Остаток \n1   2670 3132.491 -462.491\n9   3090 3370.083 -280.083\n56  2985 2835.360 149.640 \n76  3660 3248.540 411.460 \n100 2618 2863.070 -245.070'

In [36]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  2670  3132.491 -462.491
1    9  3090  3370.083 -280.083
2   56  2985  2835.360  149.640
3   76  3660  3248.540  411.460
4  100  2618  2863.070 -245.070

In [37]:
df['Факт']

0    2670
1    3090
2    2985
3    3660
4    2618
Name: Факт, dtype: int64

In [38]:
df['Факт'].mean()

3004.6

In [39]:
tss_=(df['Факт']-df['Факт'].mean(0))**2
tss_

0    111957.16
1      7293.16
2       384.16
3    429549.16
4    149459.56
Name: Факт, dtype: float64

In [40]:
TSS=np.sum((df['Факт']-df['Факт'].mean())**2)
TSS

698643.2

In [41]:
df['Fitted']

0    3132.491
1    3370.083
2    2835.360
3    3248.540
4    2863.070
Name: Fitted, dtype: float64

In [42]:
df['Fitted'].mean(0)

3089.9088

In [43]:
ESS=np.sum((df['Fitted']-df['Факт'].mean())**2)
ESS

258113.57327000005

In [44]:
RSS=TSS-ESS
RSS

440529.6267299999

In [45]:
R2=ESS/TSS
R2

0.36944977532165213

In [46]:
R2_adj=1-(1-R2)*(100-1)/(100-4)
R2_adj

0.34974508080045374

In [47]:
SER=np.sqrt(RSS)
SER

663.7240591767032

# 3.3

In [48]:
data='''i   Факт  Fitted  Остаток 
1   3113 3061.481  51.519 
9   3018 3087.341 -69.341 
45  3363 3268.521  94.479 
187 3390 3228.976 161.024 
280 2955 3399.060 -444.060'''
data

'i   Факт  Fitted  Остаток \n1   3113 3061.481  51.519 \n9   3018 3087.341 -69.341 \n45  3363 3268.521  94.479 \n187 3390 3228.976 161.024 \n280 2955 3399.060 -444.060'

In [49]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3061.481   51.519
1    9  3018  3087.341  -69.341
2   45  3363  3268.521   94.479
3  187  3390  3228.976  161.024
4  280  2955  3399.060 -444.060

In [50]:
df['Факт']

0    3113
1    3018
2    3363
3    3390
4    2955
Name: Факт, dtype: int64

In [51]:
df['Факт'].mean()

3167.8

In [52]:
tss_=(df['Факт']-df['Факт'].mean(0))**2
tss_

0     3003.04
1    22440.04
2    38103.04
3    49372.84
4    45283.84
Name: Факт, dtype: float64

In [53]:
TSS=np.sum((df['Факт']-df['Факт'].mean())**2)
TSS

158202.8

In [54]:
df['Fitted']

0    3061.481
1    3087.341
2    3268.521
3    3228.976
4    3399.060
Name: Fitted, dtype: float64

In [55]:
df['Fitted'].mean(0)

3209.0758

In [56]:
ESS=np.sum((df['Fitted']-df['Факт'].mean())**2)
ESS

85145.79085899991

In [57]:
RSS=TSS-ESS
RSS

73057.00914100008

In [58]:
R2=ESS/TSS
R2

0.5382065984862463

In [59]:
R2_adj=1-(1-R2)*(280-1)/(280-4)
R2_adj

0.5331871049915315

In [60]:
SER=np.sqrt(RSS)
SER

270.29060128128776

# 3.4

In [61]:
data='''i   Факт  Fitted  Остаток 
1   3083 2945.903 137.097 
9   2858 2920.662 -62.662 
45  3730 3328.629 401.371 
187 3376 3503.722 -127.722
280 3405 3215.073 189.927'''
data

'i   Факт  Fitted  Остаток \n1   3083 2945.903 137.097 \n9   2858 2920.662 -62.662 \n45  3730 3328.629 401.371 \n187 3376 3503.722 -127.722\n280 3405 3215.073 189.927'

In [62]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3083  2945.903  137.097
1    9  2858  2920.662  -62.662
2   45  3730  3328.629  401.371
3  187  3376  3503.722 -127.722
4  280  3405  3215.073  189.927

In [63]:
df['Факт']

0    3083
1    2858
2    3730
3    3376
4    3405
Name: Факт, dtype: int64

In [64]:
df['Факт'].mean()

3290.4

In [65]:
tss_=(df['Факт']-df['Факт'].mean(0))**2
tss_

0     43014.76
1    186969.76
2    193248.16
3      7327.36
4     13133.16
Name: Факт, dtype: float64

In [66]:
TSS=np.sum((df['Факт']-df['Факт'].mean())**2)
TSS

443693.2

In [67]:
df['Fitted']

0    2945.903
1    2920.662
2    3328.629
3    3503.722
4    3215.073
Name: Fitted, dtype: float64

In [68]:
df['Fitted'].mean(0)

3182.7978

In [69]:
ESS=np.sum((df['Fitted']-df['Факт'].mean())**2)
ESS

308026.2607070005

In [70]:
RSS=TSS-ESS
RSS

135666.9392929995

In [71]:
R2=ESS/TSS
R2

0.6942325478664098

In [72]:
R2_adj=1-(1-R2)*(280-1)/(280-4)
R2_adj

0.6909089886040881

In [73]:
SER=np.sqrt(RSS)
SER

368.32993265956475

# 3.5

In [74]:
data='''i   Факт  Fitted Остаток
2   3.664 0.457   3.207 
11  3.246 5.666  -2.420 
24  2.666 -0.625  3.292 
101 2.181 6.952  -4.771 
349 4.307 2.278   2.029 
501 3.660 11.353 -7.694 '''
data

'i   Факт  Fitted Остаток\n2   3.664 0.457   3.207 \n11  3.246 5.666  -2.420 \n24  2.666 -0.625  3.292 \n101 2.181 6.952  -4.771 \n349 4.307 2.278   2.029 \n501 3.660 11.353 -7.694 '

In [75]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

     i   Факт  Fitted  Остаток
0    2  3.664   0.457    3.207
1   11  3.246   5.666   -2.420
2   24  2.666  -0.625    3.292
3  101  2.181   6.952   -4.771
4  349  4.307   2.278    2.029
5  501  3.660  11.353   -7.694

In [76]:
df['Факт']

0    3.664
1    3.246
2    2.666
3    2.181
4    4.307
5    3.660
Name: Факт, dtype: float64

In [77]:
df['Факт'].mean()

3.287333333333333

In [78]:
tss_=(df['Факт']-df['Факт'].mean(0))**2
tss_

0    0.141878
1    0.001708
2    0.386055
3    1.223973
4    1.039720
5    0.138880
Name: Факт, dtype: float64

In [79]:
TSS=np.sum((df['Факт']-df['Факт'].mean())**2)
TSS

2.932215333333334

In [80]:
df['Fitted']

0     0.457
1     5.666
2    -0.625
3     6.952
4     2.278
5    11.353
Name: Fitted, dtype: float64

In [81]:
ESS=np.sum((df['Fitted']-df['Факт'].mean())**2)
ESS

108.47870833333333

In [82]:
RSS=TSS-ESS
RSS

-105.546493

In [83]:
R2=ESS/TSS
R2

36.995478162927085

In [84]:
R2_adj=1-(1-R2)*(501-1)/(501-3)
R2_adj

37.140038316191855

# 3.6

In [85]:
data='''i   Факт  Fitted Остаток
2   1.299 1.347  -0.049 
11  1.177 1.427  -0.250 
24  0.981 0.344   0.637 
101 0.780 1.006  -0.226 
349 1.460 1.177   0.283 
501 1.297 1.730  -0.433 '''
data

'i   Факт  Fitted Остаток\n2   1.299 1.347  -0.049 \n11  1.177 1.427  -0.250 \n24  0.981 0.344   0.637 \n101 0.780 1.006  -0.226 \n349 1.460 1.177   0.283 \n501 1.297 1.730  -0.433 '

In [86]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

     i   Факт  Fitted  Остаток
0    2  1.299   1.347   -0.049
1   11  1.177   1.427   -0.250
2   24  0.981   0.344    0.637
3  101  0.780   1.006   -0.226
4  349  1.460   1.177    0.283
5  501  1.297   1.730   -0.433

In [87]:
df['Факт']

0    1.299
1    1.177
2    0.981
3    0.780
4    1.460
5    1.297
Name: Факт, dtype: float64

In [88]:
df['Факт'].mean()

1.1656666666666666

In [89]:
tss_=(df['Факт']-df['Факт'].mean(0))**2
tss_

0    0.017778
1    0.000128
2    0.034102
3    0.148739
4    0.086632
5    0.017248
Name: Факт, dtype: float64

In [90]:
TSS=np.sum((df['Факт']-df['Факт'].mean())**2)
TSS

0.3046273333333333

In [91]:
df['Fitted']

0    1.347
1    1.427
2    0.344
3    1.006
4    1.177
5    1.730
Name: Fitted, dtype: float64

In [92]:
ESS=np.sum((df['Fitted']-df['Факт'].mean())**2)
ESS

1.1204070000000002

In [93]:
RSS=TSS-ESS
RSS

-0.8157796666666668

In [94]:
R2=ESS/TSS
R2

3.677959517749557

In [95]:
R2_adj=1-(1-R2)*(501-1)/(501-3)
R2_adj

3.6887143752505596

# 3.7

In [96]:
data='''i   Факт  Fitted Остаток
2  3.043  -2.512  5.555 
17 5.597  2.747   2.850 
29 7.439  -2.269  9.709 
48 28.786 34.228 -5.442 
58 41.902 43.941 -2.040 
94 9.467  -4.009 13.477 '''
data

'i   Факт  Fitted Остаток\n2  3.043  -2.512  5.555 \n17 5.597  2.747   2.850 \n29 7.439  -2.269  9.709 \n48 28.786 34.228 -5.442 \n58 41.902 43.941 -2.040 \n94 9.467  -4.009 13.477 '

In [97]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

    i    Факт  Fitted  Остаток
0   2   3.043  -2.512    5.555
1  17   5.597   2.747    2.850
2  29   7.439  -2.269    9.709
3  48  28.786  34.228   -5.442
4  58  41.902  43.941   -2.040
5  94   9.467  -4.009   13.477

In [98]:
df['Факт']

0     3.043
1     5.597
2     7.439
3    28.786
4    41.902
5     9.467
Name: Факт, dtype: float64

In [99]:
df['Факт'].mean()

16.038999999999998

In [100]:
tss_=(df['Факт']-df['Факт'].mean(0))**2
tss_

0    168.896016
1    109.035364
2     73.960000
3    162.486009
4    668.894769
5     43.191184
Name: Факт, dtype: float64

In [101]:
TSS=np.sum((df['Факт']-df['Факт'].mean())**2)
TSS

1226.4633420000002

In [102]:
df['Fitted']

0    -2.512
1     2.747
2    -2.269
3    34.228
4    43.941
5    -4.009
Name: Fitted, dtype: float64

In [103]:
ESS=np.sum((df['Fitted']-df['Факт'].mean())**2)
ESS

2367.283358

In [104]:
RSS=TSS-ESS
RSS

-1140.820016

In [105]:
R2=ESS/TSS
R2

1.9301704966898225

In [106]:
R2_adj=1-(1-R2)*(94-1)/(94-5)
R2_adj

1.9719759122713878

# 3.8

In [107]:
data='''i  Факт  Fitted Остаток
2  1.113 1.452  -0.339 
17 1.722 1.650   0.072 
29 2.007 1.784   0.223 
48 3.360 3.556  -0.196 
58 3.735 3.846  -0.111 
94 2.248 2.247   0.001'''
data

'i  Факт  Fitted Остаток\n2  1.113 1.452  -0.339 \n17 1.722 1.650   0.072 \n29 2.007 1.784   0.223 \n48 3.360 3.556  -0.196 \n58 3.735 3.846  -0.111 \n94 2.248 2.247   0.001'

In [108]:
df=pd.read_csv(io.StringIO(data), sep='\s+')
df

    i   Факт  Fitted  Остаток
0   2  1.113   1.452   -0.339
1  17  1.722   1.650    0.072
2  29  2.007   1.784    0.223
3  48  3.360   3.556   -0.196
4  58  3.735   3.846   -0.111
5  94  2.248   2.247    0.001

In [109]:
df['Факт']

0    1.113
1    1.722
2    2.007
3    3.360
4    3.735
5    2.248
Name: Факт, dtype: float64

In [110]:
df['Факт'].mean()

2.3641666666666663

In [111]:
tss_=(df['Факт']-df['Факт'].mean(0))**2
tss_

0    1.565418
1    0.412378
2    0.127568
3    0.991684
4    1.879184
5    0.013495
Name: Факт, dtype: float64

In [112]:
TSS=np.sum((df['Факт']-df['Факт'].mean())**2)
TSS

4.989726833333333

In [113]:
df['Fitted']

0    1.452
1    1.650
2    1.784
3    3.556
4    3.846
5    2.247
Name: Fitted, dtype: float64

In [114]:
ESS=np.sum((df['Fitted']-df['Факт'].mean())**2)
ESS

5.308700166666668

In [115]:
RSS=TSS-ESS
RSS

-0.3189733333333349

In [116]:
R2=ESS/TSS
R2

1.0639260111801048

In [117]:
R2_adj=1-(1-R2)*(94-1)/(94-5)
R2_adj

1.0667990903342668